* {
    margin: 0;
    padding: 0;
}
.dark-theme{
    --bg: #3B4664;
    --color: white;
    --display: #171F32;
    --input: #242D44;
    --clr: #657199;
}

:root{


    --bg: wheat;
    --color: rgb(15, 15, 15);
    --display: rgb(214, 206, 206);
    --input: rgb(206, 206, 206);
    --clr: wheat;


}



body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px 10px;
}

.container .header {
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color);


}

.container .header h2 {
    font-size: 32px;
}

.container .header .theme{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.switch{
    margin: 0px 15px;
}

.container .header .theme ul li {
    list-style-type: none;
    padding: 4px 8px;
}

.container .header .theme ul li a {
    text-decoration: none;
    color: var(--color);
}

.container .show {
    display: flex;
    justify-content: center;
}

.container .display {
    width: 91%;
    border-radius: 20px;
    background-color: var(--display);
    font-size: 22px;
    color: var(--color);
    padding: 40px 12px;
    margin: 10px 0px;
}

.container .input {
    padding: 12px 18px;
    background-color: var(--input);
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
}

.container .input .row {
    display: flex;
    justify-content: space-between;
}

.container .input .row .button {
    width: 25%;
    margin: 0px 3px;
    padding: 15px 25px;
    font-size: 20px;
}

.btn {
    margin: 0px 3px;
    padding: 15px 25px;
    width: 49%;
}

.clr {
    background-color: var(--clr);
    color: var(--color);

}

/* for toogle button codepen code */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
